*{
    color: #333;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
html{
    background-image: url();
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 100%;
}
.container{
    
    display: flex;
    flex-direction: column;


}
.navbar{
    width: 100%;
    position: fixed;
    background-color: transparent;
    display: flex;
    padding: 20px;
    justify-content:space-between;
    border-bottom: 3px solid black;
    text-align: center;
    align-items: center;
    background-color: #ffff;

}

.navbar ul li a:hover{
    border-bottom: 4px solid black;
    transition: 0.5s;
}

.navdiv{
    font-size: 35px;
    color: rgb(13, 13, 13);
}


.navbar ul li{
    display: inline-block;
    margin-right: 5px;

}

.navbar ul li a{
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.body{
    margin-top: 110px;
    height: 560px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    margin-left: 10px;
    
}
.icerik{
    height: 100%;
}
.image{
}
.image img{
    width: 100%;
    margin-top: 40px;
}

    
h4{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

