*{
    color: #333;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
html{
    background-image: url();
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 100%;
}
.container{
    
    display: flex;
    flex-direction: column;


}
.navbar{
    width: 100%;
    position: fixed;
    background-color: transparent;
    display: flex;
    padding: 20px;
    justify-content:space-between;
    border-bottom: 3px solid black;
    text-align: center;
    align-items: center;
    background-color: #ffff;

}
.navbar ul li a:hover{
    border-bottom: 4px solid black;
    transition: 0.5s;
}

.navdiv{
    font-size: 35px;
    color: rgb(13, 13, 13);
}


.navbar ul li{
    display: inline-block;
    margin-right: 5px;

}

.navbar ul li a{
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.card{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.card ul li{
    list-style-type: disc;
}

.cardBody{
    width: 250px;
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 10px gray;
}
.cardBody:hover{
    box-shadow: 0 0 10px green;
}
.cardTitle{
    border-radius: 15px;
    font-weight: bold;
    padding: 3px;
}
.cardAll{
    justify-content: space-around;
    border-radius: 15px;
    display: flex;
}
.cardRightBody{
    padding: 2px;
    margin-left: 2px;
    background-color: wheat;
    padding: 3px;
    border-radius: 15px;
}

.cardRightBody ul li{
    border-bottom: 2px solid white;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 14px;
    list-style-type: none;
    list-style-position: inside;
    text-align:left;
}
.cardLeftBody {
    border-radius: 15px;
    width: 40%;
    height: 100px;
}
.cardLeftBody img{
    border-radius: 15px;
    width: 100%;
    height: 100px;
}

