*{
    color: #333;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
html{
    background-image: url();
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 100%;
}
.container{
    
    display: flex;
    flex-direction: column;


}
.navbar{
    width: 100%;
    position: fixed;
    background-color: transparent;
    display: flex;
    padding: 20px;
    justify-content:space-between;
    border-bottom: 3px solid black;
    text-align: center;
    align-items: center;
    background-color: #ffff;

}
.navbar ul li a:hover{
    border-bottom: 4px solid black;
    transition: 0.5s;
}

.navdiv{
    font-size: 35px;
    color: rgb(13, 13, 13);
}


.navbar ul li{
    display: inline-block;
    margin-right: 5px;

}

.navbar ul li a{
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.card{
    height: 565px;
    overflow: scroll;
    display: flex;
    margin: 120px 50px 50px;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    
}
::-webkit-scrollbar {
    background-color: transparent;
}
.cardBody{
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 10px black;
    border-radius: 15px;
    height: 275px;
    width: 270px;
}
.cardBody:hover{
    transition: all 0.8sn;
    box-shadow: 0 0 10px rgb(83, 83, 154);
}

.cardTitle{
    margin: 10px;
    font-size: 15px;

}
.cardImage img{
    margin: 20px;
    border-radius: 15px;
    height: 150px;
    width: 210px;

}
.cardButton{
    margin: 10px;
}
.cardButton a{
    border-bottom: 1px solid gray;
    margin: 10px;
    padding: 5px;
}
.cardButton a:hover{
    border-bottom: 4px double black;
    transition: 0.5s;
    
}